#macro( displayCssMenu $menu )
  #if ($displayer.isAllowed($menu))
      ## set menu title
      #set ($title = $displayer.getMessage($menu.title))

      <ul class="list-group">
          #if (!$menu.parent) <li class="list-group-item">$title</li>#end
      #foreach ($menuItem in $menu.components)
        #if ($displayer.isAllowed($menuItem))
          #set ($title = $displayer.getMessage($menuItem.title))
          <li class="list-group-item #if ($request.getRequestURI().contains($menuItem.url))active#end"><a href="$menuItem.url" title="$title" #if($menuItem.target)target="$menuItem.target"#end>${title}</a></li>
        #end
      #end
      </ul>
  #end
#end

#displayCssMenu($menu)
